.cont__principal {
    /* border: 1px solid royalblue; */
    margin: 0 auto;
    width: 500px;
    height: 550px;

}

.row__secundaria {
   /* border: 1px solid royalblue; */
    height: 300px;
}

.nombre__ciudad {
    text-align: center;
   padding-top: 55px; 
    font-size: 100px;
    color: white;
    font-family: Oswald;
   padding-right: 70px; 
    background-size: 200px; 
    background-color: rgb(90, 90, 91);

}

.row__button {
    margin: 0 auto;
    height: 100px;
    text-align: center;
}

.buttons__properties {
   margin: 0 auto;
   margin-top: 200px;
}


.img__properties {
    padding: 20px !important; 
    width: 150px !important; 
}

.temperature__properties {
    padding: 1.25rem;
    /* background-color: #EEE2DF; */
    background: url('../../assets/temperature__BG.jpg');

    font-family: Roboto;
    text-align: right;
    color:white;
    margin-bottom: 0;
    padding-bottom: 0.5px;
}

.degrees__properties {
    font-size: 150px;
}

.date__properties {
    text-align: right;
    padding-right: 8px;
    font-family: Roboto;
    color: white;
    font-size: 30px;
}



.card__properties {
    margin: 0 auto;
    margin-top: 150px;
    max-width: 640px;
}

.snow {
    background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('../../assets/snow.jpg');
}

.sleet {
    background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('../../assets/sleet.jpg');
}

.hail {
    background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('../../assets/hail.jpg');
}

.thunderstorm {
    background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('../../assets/thunderstorm.jpg');
}

.heavyRain {
    background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('../../assets/heavyRain.jpg');
}

.lightRain{
    background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('../../assets/lightRain2.jpg');
}

.showers {
    background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('../../assets/showers.jpg');
}

.lightCloud {
    background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('../../assets/lightCloud.jpg');
}

.heavyCloud {
    background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('../../assets/heavyCloud.jpg');
}


.clear {
    background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('../../assets/clear.jpg');
}


.default {
    background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('../../assets/.default.jpg');
}

